---
import ListaVideos from './components/RightContainer/ListaVideos.astro';
---


    <div class="right-column">
      <ListaVideos title='Video1' subtitle='subtitulo1' imageUrl='/images/rtalogo.jpeg'/>
    </div>




  <style>

  
    .right-column {
      display: flex;
      justify-content: left;
      align-items: left;
      color: antiquewhite;
      width: 50%;
      height: 250px;
      /* descartivar overflow horizontal */
      overflow-x: hidden;
    }
  
    img {
      border-radius: 50%;
      max-width: 100%;
    }
  </style>


