---

import BotonTest from './BotonTest.astro';
import LeftContainer from './LeftContainer.astro';
import ListaVideos from './components/RightContainer/ListaVideos.astro';


//STRAPI VIDEO LIST ./videos/cblunavideo.mp4
let videoItems= [
  {
    title: 'Video1',
    subtitle: 'subtitulo',
    imageUrl: 'https://picsum.photos/200/300?random=',
    videoClip: './videos/cblunavideo.mp4'
  },
  {
    title: 'Video2',
    subtitle: 'subtitulo',
    imageUrl: 'https://picsum.photos/200/300?random=',
    videoClip: './videos/vt1.mp4'
  },
  {
    title: 'Video3',
    subtitle: 'subtitulo',
    imageUrl: 'https://picsum.photos/200/300?random=',
    videoClip: './videos/vt2.mp4'
    
  },
  {
    title: 'Video4',
    subtitle: 'subtitulo',
    imageUrl: 'https://picsum.photos/200/300?random=',
    videoClip: './videos/vt3.mp4'
    
  }
];
let selectedVideo = './videos/cblunavideo.mp4';


 function videoSelected (videoUrl: string): string {

  selectedVideo = videoUrl;
  return selectedVideo;
}
setTimeout(() => {
  videoSelected('./videos/vt1.mp4');
}, 5000);

---

<div class="main" >
    <BotonTest />
    <LeftContainer clipVideo={selectedVideo} />


  <div class="rightsection">
  <!--   <BotonTest transition:persist/> -->
    <li>
      {
        videoItems.map((item) => (
    
            <ListaVideos
            title={item.title}
            subtitle={item.subtitle}
            imageUrl={item.imageUrl+Math.floor(Math.random() * 100)}
           
            />
       
        ))
      }
    </li>
    </div>
</div>





<style>

  li {
  list-style: none;
  margin-top: 5%;
  overflow: scroll;
  mask-image: linear-gradient(to bottom, transparent, black 5%, black 90%, rgba(0, 0, 0, 0.705));
  overflow: hidden;
}


  .main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;

    height: 100%;
    flex: content;
    background-image: linear-gradient(to bottom, black,#2E1874,#6031E2, #C3B0FA); 
    border-radius: 0% 0% 3% 3%;
    
  }


  .rightsection {

   overflow: scroll;
   margin-right: 5%;
    
  }

</style>
