---

import ListaVideos from './components/RightContainer/ListaVideos.astro';


//STRAPI VIDEO LIST
let videoItems= [
  {
    title: 'Video1',
    subtitle: 'subtitulo',
    imageUrl: 'https://placehold.co/80x50',
  },
  {
    title: 'Video2',
    subtitle: 'subtitulo',
    imageUrl: 'https://placehold.co/80x50',
  },
  {
    title: 'Video3',
    subtitle: 'subtitulo',
    imageUrl: 'https://placehold.co/80x50',
  },
  {
    title: 'Video4',
    subtitle: 'subtitulo',
    imageUrl: 'https://placehold.co/80x50',
  },
  {
    title: 'Video5',
    subtitle: 'subtitulo',
    imageUrl: 'https://placehold.co/80x50',
  },
  {
    title: 'Video6',
    subtitle: 'subtitulo',
    imageUrl: 'https://placehold.co/80x50',
  },
  {
    title: 'Video7',
    subtitle: 'subtitulo',
    imageUrl: 'https://placehold.co/80x50',
  },
];

//https://placehold.co/600x400?text=Video
---

<div class="main">
  <div class="leftsection">
    <video src="./videos/cblunavideo.mp4" autoplay loop muted/>
  </div>

  <div class="rightsection">
    <li>
      {
        videoItems.map((item) => (
          <ListaVideos
            title={item.title}
            subtitle={item.subtitle}
            imageUrl={item.imageUrl}
          />
        ))
      }
    </li>
    </div>
</div>





<style>
      video {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    object-fit: fill;
  }

  li {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    list-style: none;
    margin-left: 20px;
    margin-top: 50px;
    gap: 30px;
    overflow: scroll;
    
  }




  .main {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 1fr;

    height: 100%;
    flex: content;
  }

  .leftsection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: brown;
    flex-wrap: wrap;
    flex: auto;

  }

  .rightsection {
   background-color: rgb(119, 119, 119);
   overflow: scroll;
  }

</style>
