---
import LeftCapsuleContainer from './LeftContainer.astro';
import RightCapsuleContainer from './RightContainer.astro';
---

<section>
  <div class="leftsection">
<!--     <video src="./videos/homevideo.mp4" autoplay loop muted/> -->
  </div>
  <div class="rightsection">

  </div>

</section>





<style>
      video {
  
    display: flex;

 /*    justify-content: center;
    align-items: center;
 */
    object-fit: fill;
  }
 /* 2 colums 1fr each*/
  section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
    height: 100%;
    flex: content;
  }

  .leftsection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: brown;
    flex-wrap: wrap;
    flex: auto;
  }

  .rightsection {
   background-color: aqua;
  }

</style>
